**/.idea/
**/.vscode/
**/.vs/
node_modules/
.expo/
dist/
api-key.js
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.firebaserc
/firebase.json
/firestore.indexes.json
/firestore.rules
/storage.rules
